<div class="d-flex justify-content-between align-items-center mb-4">
  <h3 id="page-title"><%= pageTitle %></h3>
  <div class="d-flex align-items-center gap-3 p-1">
    <div class="d-flex flex-column text-start me-2">
      <p class="mb-0 fw-medium" id="username"><%= username %></p>
      <p class="mb-0 text-muted small" id="user-email"><%= userEmail %></p>
    </div>
    <% const avatarSrc = profilePicture && profilePicture.trim() !== '' ? profilePicture : '/svgs/man-user-circle-icon.svg'; %>
    <img src="<%= avatarSrc %>" class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover;" alt="User Avatar">
  </div>
</div>