<div class="border-end p-3" id="sidebar" style="width: 240px;">
  <h4 class="mb-4">FinPlan</h4>
  <ul class="nav flex-column">

    <!-- Dashboard -->
    <li class="nav-item mb-3">
      <div class="d-flex align-items-center gap-3 nav-link">
        <img src="../../svgs/dashboard-svgrepo-com.svg" class="rounded-circle" alt="dashboard" style="width:40px; height: 40px;">
        <a href="dashboard.html">Dashboard</a>
      </div>
    </li>

    <!-- Profile -->
    <li class="nav-item mb-3">
      <div class="d-flex align-items-center gap-3 nav-link">
        <img src="../../svgs/reshot-icon-profile-QX6KDSLJC5.svg" class="rounded-circle" alt="profile" style="width:40px; height: 45px;">
        <a href="profile.html">Personal Profile</a>
      </div>
    </li>

    <!-- Financial Goals -->
    <li class="nav-item mb-3">
      <div class="d-flex align-items-center gap-3 nav-link">
        <img src="../../svgs/financial-goals-icon-can-be-used-for-uiux-etc-vector.svg" class="rounded-circle" alt="Financial Goals" style="width:40px; height: 40px;">
        <a href="goal-planning.html">Financial Goals</a>
      </div>
    </li>

    <!-- Investment Strategy -->
    <li class="nav-item mb-3">
      <div class="d-flex align-items-center gap-3 nav-link">
        <img src="../../svgs/investment strategy.svg" class="rounded-circle" alt="Investment Strategy" style="width:40px; height: 40px;">
        <a href="investment-strategy-recommendation.html">Investment Strategy</a>
      </div>
    </li>

    <!-- Market Insights -->
    <li class="nav-item mb-3">
      <div class="d-flex align-items-center gap-3 nav-link">
        <img src="../../svgs/market-research-digital-marketing-marketing-research-png-favpng-apKr4vKuaT3nGwR2Cbd4jM8zz.svg" class="rounded-circle" alt="Market Insights" style="width:40px; height: 40px;">
        <a href="market.html">Market Insights</a>
      </div>
    </li>

    <!-- Investment ROI -->
    <li class="nav-item mb-3">
      <div class="d-flex align-items-center gap-3 nav-link">
        <img src="../../svgs/return-of-investment.svg" class="rounded-circle" alt="Investment ROI" style="width:40px; height: 40px;">
        <a href="ROI_Calculator.html">Investment ROI</a>
      </div>
    </li>

    <hr style="border-width: 2px;">

    <!-- Logout -->
    <li class="nav-item mt-3">
      <div class="d-flex align-items-center gap-3 nav-link">
        <img src="../../svgs/logout-png-favpng-LwgEn5YThKc5NxUXYqXXV8Zhf.svg" class="rounded-circle" alt="Logout" style="width:40px; height: 40px;">
        <a href="login.html" class="text-danger" onclick="localStorage.clear()">Log Out</a>
      </div>
    </li>

  </ul>
</div>
